:root {
  --backgroud-dark: #44021e;
}

.header {
  background-color: var(--backgroud-dark);
  padding: 15px;
}

.footer {
  background-color: var(--backgroud-dark);
  padding: 15px;
}

.content_section {
  margin: 1rem;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--backgroud-dark);
}
