:root {
  --backgroud-dark: #44021e;
  --backgroud-light: #847676;
  --backgroud-highlight: #5a2b3e; /* Nova cor de fundo mais leve */
}

.header {
  background-color: var(--backgroud-dark);
  padding: 15px;
}

.footer {
  background-color: var(--backgroud-dark);
  padding: 15px;
}

.content_section {
  margin: 1rem;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--backgroud-dark);
}

.content_section.highlight-background {
  background-color: var(--backgroud-highlight); /* Cor de fundo mais leve */
}

.arrow-up {
  background: var(--backgroud-light);
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.highlight {
  animation: zoomIn 0.5s forwards, highlightColor 0.5 forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes highlightColor {
  from {
    background-color: var(--backgroud-dark);
  }
  to {
    background-color: var(--backgroud-light);
  }
}

.skill {
  position: relative;
  cursor: pointer;
}
.skill.selected {
  background-color: #f0f0f0;
  z-index: 1;
}
.skill-info {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--backgroud-light);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.skill.selected .skill-info {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .skill-info {
    top: 80px;
  }
}
@media (max-width: 576px) {
  .skill-info {
    top: 90px;
  }
}
