:root {
  --backgroud-dark: #44021e;
  --backgroud-light: #847676;
}

.header {
  background-color: var(--backgroud-dark);
  padding: 15px;
}

.footer {
  background-color: var(--backgroud-dark);
  padding: 15px;
}

.content_section {
  margin: 1rem;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--backgroud-dark);
}

.arrow-up {
  background: var(--backgroud-light);
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
